<h1> Users</h1>

<% @usercount%>
<table class="table table-dark table-striped">  <thead>
    <tr>
      <th>user name</th>
      <th>email</th>
      <th>role</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name+" "+user.last_name%></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>

      </tr>
    <% end %>
  </tbody>
</table>
